<form class="" action="{{{requestAPI}}}" method="get">
    <input type="hidden" name="hiddenField" value="hidden filed data"/>
    <label for="nameField">NAME : </label>
    <input type="text" name="nameField" id="nameField" value="SUPERJANG"/>
    <input type="submit" value="전송"/>
</form>
