<form class="uploadForm" action="/uploadPhoto" method="post" enctype="multipart/form-data">
    <label for="">Email : </label>
    <input type="email" name="email" value=""/>

    <label for="">Name : </label>
    <input type="text" name="name" value=""/>

    <label for="">File : </label>
    <input type="file" required accept="image/*" name="photo"/>

    <button type="submit">업로드</button>
</form>
