<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>
    <h1>핸들바 템플릿</h1>
    {{{body}}}
</body>
</html>
